doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width', 'initial-scale=1', 'shrink-to-fit=no')
        title= test
    body
        div(class='container-fluid main px-0')
            header(class='head row text-center no-gutters')
                a(href='#' class='logo col-2')
                div(class='navigation col-5 justify-content-between row no-gutters')
                    div(class='language col-3')
                        a(href='#') Rus
                        a(href='#') Eng
                    div(class='navigation-main col-7')
                        a(href='#') Main
                        a(href='#') Client
                        a(href='#') About
                        a(href='#') Service
                div(class='mail col-2')
                    a(href='#') bank@gmail.com
                div(class='number col-2')
                    a(href='#') +375(44)001-20-20
                div(class='menu col-1')
                    button(class="hamburger" type="button")
                        span(class="hamburger-box")
                            span(class="hamburger-inner")
            include main-block
            footer(class='foot row no-gutters')
                div(class='social col-3')
                    a(href='#').vk
                    a(href='#').tw
                    a(href='#').fb
                div(class='col-3 foot-call')
                    a(href='#') Call us now